<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="topic">Topic_name</label>
        <select name="topic" id="topic">
            {% for i in topics %}
                <option value="{{i}}">{{i.topic_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <label for="name">name:</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="url">url</label>
        <input type="url" name="url" id="url"><br><br>
        <label for="date">date</label>
        <input type="date" name="date" id="date"><br><br>


    
    <input type="submit" value="insert_access">

    </form>
</body>
</html>